@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-size: 0.875rem;
    min-height: 100vh;
    background-color: #000;

}

a {
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}


li {
    list-style: none;
}

/*コンテンツの幅*/

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 10px;
}




/*ヘッダー　「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される*/

#header {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*ハンバーガーメニュー*/


#navi {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #171717;
    padding: 36px 50px;
    transition: all 1.0s;
    z-index: 20;
    opacity: 0;
}

#navi a {
    color: #fff;
}

#navi li {
    margin-bottom: 14px;
}

/*
  ハンバーガーメニュー
  メニューが開いている時は、「left: 0;」「opacity: 1;」で
  画面左に表示する
  */
.open #navi {
    left: 0;
    opacity: 1;
}

.toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}



/*ハンバーガーメニューの線の設定（メニューが閉じている時）*/
.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.5s;
}


/*一本めの位置*/
.toggle_btn span:nth-child(1) {
    top: 10px;
}

/*二本め*/

.toggle_btn span:nth-child(2) {
    bottom: 10px;
}


/*ハンバーガー動き*/

.open .toggle_btn span {
    background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
}


.open .toggle_btn span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
}

#mask {
    display: none;
    transition: all 0.5s;
}



.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 8;
    z-index: 10;
    cursor: pointer;
}


.page-title {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.site-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

#scloll {
    display: flex;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.sita {
    font-weight: 700;
    writing-mode: vertical-rl;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* 自動で列数調整 */
    gap: 16px;
    /* 各画像の間隔 */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    /* 上部の余白 */
    padding-bottom: 100px;
    /* 下部の余白 */
}

.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#footer {
    width: 100%;
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.howto-container {
    display: flex;
    align-items: center;
    /* 縦位置を中央に */
    justify-content: center;
    /* 横位置を中央に */
    flex-direction: row;
    /* 横並びにする */
    gap: 20px;
    /* 画像と文字の間隔 */
    padding: 40px;
}

.howto-image {
    max-width: 30%;
    /* 写真の幅 */
    height: auto;
    border-radius: 10px;
    /* 角を丸くしたい場合 */
}

.text {
    width: 600px;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.about-text {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 4;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 30px;
}

#profile {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 4%;
    margin-top: 100px;
}


#profile p {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 30px;
}

.content {
    display: flex;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.content-title {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 10px;
}

.content .profile-text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-left: 100px;
}

.SNS a {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    text-decoration: none;
}




@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }

    #header {
        height: 50px;
    }

    #navi {
        width: 250px;
        padding: 30px 40px;
    }

    .toggle_btn {
        width: 25px;
        height: 25px;
    }

    .toggle_btn span {
        width: 25px;
        height: 2px;
    }

    #img1 {
        height: 500px;
    }

    .text {
        font-size: 14px;
        width: 180px;
    }
}